* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav_logo {
    height: 50px;
    width: 100px;
}

.logo {
    height: 50px;
    width: 100px;
    background-image: url("./images/amazon_logo.webp");
    background-size: cover;
    position: absolute;
}

.border {
    border: 1.5px solid transparent;
    border-radius: 2px 2px 2px 2px;
}

.border:hover {
    border: 1.5px solid white;
}

/* BOX-2 */
.add-icon {
    display: flex;

}

.add-1 {
    font-size: 0.85rem;
    color: #cccccc;
    margin-left: 15px;

}

.add-2 {
    font-size: 1rem;
    color: #FFFFFF;
    margin-left: 3px;
    ;
}

/* Box-3 */
.nav-search {
    height: 40px;
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 4px;
    background-color: #febd68;
    color: #0f1111;

}

.nav-search:hover {
    border: 2px solid orange;
}

.search-select {
    background-color: #E6E6E6;
    width: 51px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    background-color: #FFFFFF;
    width: 100%;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

}

/* box-4 */
.nav-tools {
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

/* 1 */
.country {
    display: flex;
    align-items: center;
}

.country-flag {
    width: 22px;
    height: 17px;
    background-color: #0f1111;
    border: none;
}

.search-country {
    border: none;
    background-color: #0f1111;
    color: white;
    font-size: 14px;
    font-weight: bold;

}

/* 2 */
.sign-in {
    height: 50px;
    width: 131px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.sign-in1 p {
    font-size: 0.75em;
    padding-left: 3%;

}

.account {
    background-color: #0f1111;
    border: none;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    width: 150px;
}

/* 3 */
.policy {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90px;

}

.return {
    height: 14px;
    font-size: 0.75rem;
    padding-right: 20%;

}

.order {
    height: 15px;
    font-size: 0.9rem;
    font-weight: bold;

}

/* 4 */
.cart {
    display: flex;
    flex-direction: row;
}

.cart-text p {
    font-size: 0.85rem;
    font-weight: bold;
    padding-top: 0.85rem;
}

/* panel */
.panel {
    height: 40px;
    width: 100%;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.panel-options p {
    display: inline;
    margin-left: 15px;
}

.panel-options {
    width: 80%;
    font-size: 0.90rem;


}

.panel-deals {
    font-size: 0.95rem;
    font-weight: bold;
}

.main {
    height: 350px;
    background-image: url("./images/hero_image.webp");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: -3;
}

.main-msg {
    height: 40px;
    width: 97%;
    background-color: #F5F6F6;
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

}

.main-msg a {
    color: #007185;
    text-decoration: none;
}

/* Shop-section */
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box {
    height: 400px;
    width: 23%;
    background-color: #FFFFFF;
    padding: 20px 0px 15px;
}

.box-content {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

.box p {
    color: #007185;
    font-size: 0.85rem;
}

.box h2 {
    margin-top: 20px;
    font-size: 21px;
}

.box-img {
    height: 300px;
    background-size: cover;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}

/* Footer */
footer {
    margin-top: 15px;
}

.foot-panel1 {
    color: #FFFFFF;
    background-color: #37475a;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.foot-panel2 p {
    font-size: 1rem;
    font-weight: bold;
}

.foot-panel2 a {
    font-size: 0.85rem;
}

.foot-panel2 {
    padding-top: 3.2rem;
    color: white;
    background-color: #232f3e;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    padding-left: 220px;
    padding-right: 220px;
}

ul a {
    display: block;
    margin-top: 0.7rem;
}

.foot-panel3 {
    height: 100px;
    width: 100%;
    background-color: #232f3e;
    color: white;
    border-top: 0.5px solid white;
    display: flex;
    flex-flow: sta;
    justify-content:center;
    align-items: center;
    gap: 10px;

}

.foot-panel3 .logo {
    background-image: url("./images/amazon_logo.webp");
    background-size: cover;
    height: 50px;
    width: 100px;
    position:relative;
    margin-right: 80px;

}

.panel3 {
    height: 34px;
    width: 120px;
    color: #cccccc;
    border: 0.12px solid white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel3 p {
    color: #cccccc;
    font-size: 0.8rem;
}

.english {
    width: 90px;
}
.english>i{
    margin-right: 4px;
}

.usd {
    width: 150px;
}

.un {
    width: 130px;
    text-align: center;

}

.un-icon {
    margin: 7px;

}

.foot-panel4 {
    height: 70px;
    background-color: #0f1111;
    color: white;
    font-size: 0.7rem;
    text-align: center;

}

.pages {
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    margin-left: 570px;
    margin-right: 570px;
    margin-bottom: 10px;
}

.pages a {
    margin-left: 20px;
}

.pages a:hover {
    text-decoration: underline;
}

.copright {
    padding-top: 5px;
}